{% extends "base.html" %}

    {% block content %}
        <h1>{{title}}</h1>

        {% for book in books %}
        <table>
          <tr>
        <div>
         <th><p><b>Title: </b></p> </th> 
         <th><p><b>Author: </b></p> </th>
         <th> <p><b>Genre: </b></p> </th>
         <hr>
        </tr>
        <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }} </td>
        <td>{{book.genre}}</td>
        </tr>

        <tr>
          <th><b>Availability: </b></th>
          <th><b>Return by: </b></th>
          <th> <b>Details: </b> </th>
        </tr>
        <tr>
        <td> {% if book.checked_out %}
            <p>Checked Out <span>&#10060;</span></p>
        {%else%}
        <p>Available <span>&#9989;</span>
          </p>
          {% endif %}</td>
        <td><label for="date"><b></b></label>
          <input type="date" id="return-by" name="return-by" value="{{book.return_by}}">
        </td><td><a href="books/{{books.index(book)}}"> Show Book</a></td>
        

        </tr>
      </table>


        {% endfor %}
        <hr>

        
     <form class="form-inline" action="/books/delete" method="POST">
          <label for="title"> Title </label>
          <input type="text" id="title" name="title">
          <input type="submit" value="Delete">
        </form>
         
          
     
     
  
        {% endblock %}
